.form-content {
    margin-top: 54px;
    margin-left: 90px;
    margin-right:  99px;
}

.card {
    background: #E6F7FF;
    border-radius: 16px;
    width: 1251px;
    height: 270px;
    border: 0px solid #D9D9D9;
}

.form-title {
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    line-height: 46px;
    color: #262626;
    margin-left: 94px;
    margin-top: 66px;
}

.form-input {
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    border-radius: 4px;
    margin-left: 94px;
    margin-right: 481px;
    margin-top: 12px;
    margin-bottom: 25px;
    width: 676px;
    height: 40px;
    padding-left: 20px;
}

.form-button {
    margin-left: 95px;
}