.home-title {
    margin-top: 117px;
    margin-left: 120px;
    margin-right: 740px;
    margin-bottom: 24px;
    width: 580px;
    height: 128px;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 64px;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: #062847;
}

.home-text {
    width: 612px;
    height: 216px;
    margin-left: 120px;
    margin-right: 0px;
    margin-bottom: 0px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 36px;
    color: #5A6774;
}

.home-button {
    margin-top: 50px;
    width: 101px;
    height: 40px;
    margin-left: 120px;
    border-radius: 4px;
}